<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BidScape | Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'administration/assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'administration/assets/vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'administration/assets/vendors/jvectormap/jquery-jvectormap.css' %}">
    <link rel="stylesheet" href="{% static 'administration/assets/vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'administration/assets/vendors/owl-carousel-2/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'administration/assets/vendors/owl-carousel-2/owl.theme.default.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'administration/assets/css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="#" style="color:white">ADMINISTRATION</a>
          <a class="sidebar-brand brand-logo-mini" href="#"><img src="{% static 'administration/assets/images/logo-mini.svg' %}" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                  <!-- <img class="img-xs rounded-circle " src="{% static 'administration/assets/images/faces/face15.jpg' %}" alt=""> -->
                  <!-- <span class="count bg-success"></span> -->
                </div>
                <div class="profile-name">
                  <h5 class="mb-0 font-weight-normal">{{request.user.username}}</h5>
                  <span>{{request.user.email}}</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                
                <div class="dropdown-divider"></div>
                <a href="/change_password" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                
              </div>
            </div>
          </li>
          <li class="nav-item nav-category">
            <span class="nav-link" style="color:white;">BidScape</span>
          </li>
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin-home">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-speedometer"></i>
              </span> -->
              <span class="menu-title" style="color:white;">Dashboard</span>
            </a>
          </li>
          
          <li class="nav-item menu-items">
            <a class="nav-link" href="/admin_view_product">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-account-card-details"></i>
              </span> -->
              <span class="menu-title"style="color:white;">Products Reports</span>
            </a>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-1" aria-expanded="false" aria-controls="ui-basic">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span> -->
              <span class="menu-title" style="color:white;">Category</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-1">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/add_categary">Add new category</a></li>
                <li class="nav-item"> <a class="nav-link" href="/view_categary">Category reports</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic-2" aria-expanded="false" aria-controls="ui-basic">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-laptop"></i>
              </span> -->
              <span class="menu-title" style="color:white;">Sub-Category</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic-2">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="/add_sub_categary">Add </a></li>
                <li class="nav-item"> <a class="nav-link" href="/view_sub_category">View reports</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item menu-items">
            <a class="nav-link" href="/view_buyer_user">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-account-card-details"></i>
              </span> -->
              <span class="menu-title" style="color:white;">Bidders Reports</span>
            </a>
          </li>


          <li class="nav-item menu-items">
            <a class="nav-link" href="/view_seller_user">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-account-card-details"></i>
              </span> -->
              <span class="menu-title" style="color:white;">Seller Reports</span>
            </a>
          </li>


          <li class="nav-item menu-items">
            <a class="nav-link" href="/view_participants">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span> -->
              <span class="menu-title" style="color:white;">Participants Reports</span>
            </a>
          </li>


          <li class="nav-item menu-items">
            <a class="nav-link" href="/view_winner">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span> -->
              <span class="menu-title" style="color:white;">Winner Reports</span>
            </a>
          </li>


          {% comment %} <li class="nav-item menu-items">
            <a class="nav-link" href="/admin_viewBooking">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-table-large"></i>
              </span> -->
              <span class="menu-title" style="color:white;">All Order</span>
            </a>
          </li> {% endcomment %}
          <li class="nav-item menu-items">
            <a class="nav-link" href="/logout">
              <!-- <span class="menu-icon">
                <i class="mdi mdi-chart-bar"></i>
              </span> -->
              <span class="menu-title" style="color:white;">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="{% static 'administration/assets/images/logo-mini.svg' %}" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
                <h3>BidScape</h3>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
              
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <!-- <img class="img-xs rounded-circle" src="{% static 'administration/assets/images/faces/face15.jpg' %}" alt=""> -->
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">{{request.user.username}}</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  <h6 class="p-3 mb-0">Profile</h6>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/change_password">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-settings text-success"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Settings</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item preview-item" href="/logout">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                  <div class="dropdown-divider"></div>
                  <p class="p-3 mb-0 text-center">Advanced settings</p>
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->
        {% block body %}{% endblock %}
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'administration/assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'administration/assets/vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'administration/assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'administration/assets/vendors/jvectormap/jquery-jvectormap.min.js' %}"></script>
    <script src="{% static 'administration/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script src="{% static 'administration/assets/vendors/owl-carousel-2/owl.carousel.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'administration/assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'administration/assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'administration/assets/js/misc.js' %}"></script>
    <script src="{% static 'administration/assets/js/settings.js' %}"></script>
    <script src="{% static 'administration/assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'administration/assets/js/dashboard.js' %}"></script>
    <!-- End custom js for this page -->
    {% for i in messages %}
    <script>
        alert('{{i}}');
    </script>
    {% endfor %}


  </body>
</html>