{% extends 'index.html' %}
{% block body %}
{% load static %}
<style>
    .title{
        text-align: center;
        margin-top: 40px;
        position: relative;
        line-height: 60px;
        }
        .title::after{
            content: '';
            background: #ff523b;
            width: 80px;
            height: 5px;
            border-radius: 5px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
</style>
<div class="container" style="background:white">

        <h3 class="title">Add Product</h3>

<div class="container-fluid" style="width:90%;margin-top:2%">
<form method="post" action="" id="indexForm" enctype="multipart/form-data" data-courses-url="{% url 'ajax_load_courses' %}">
    {% csrf_token %}


    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="exampleInputPassword1">Number of Parameter</label>
            <input type="number" class="form-control" id="numberofparts" name="numberofparts" onkeyup="addrow(this)" placeholder="Number of parameter">
        </div>
    </div>

    <div class="form-row" id="parts">
        
    </div>



    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Category</label>
                <select class="form-control" id="programming" name="cat">
                    <option value="">---select Category---</option>
                        {% for i in cat %}
                        <option value="{{i.id}}">{{i.name}}</option>
                        {% endfor %}
                </select>
            </div>
        </div>

        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Sub-Category</label>
                <select class="form-control" id="courses" name="scat">

                </select>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Select Auction Type</label>
                <select class="form-control" id="auction_type" name="bid_type" onchange="changemxmin()">
                    <option value="">---select Auction Type---</option>
                        <option value="Auction">Auction</option>  
                        <option value="Tendor">Tendor</option>  
                </select>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputPassword1">Product Image</label>
                <input type="file" class="form-control" id="exampleInputPassword1" name="image">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Start Session Date</label>
                <input type="datetime-local" class="form-control" name="start">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleFormControlSelect1">Price Interval</label>
                <input type="number" class="form-control" name="interval_price">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="exampleInputPassword1">Product name</label>
                <input type="text" class="form-control" placeholder="Enter product Name" id="exampleInputPassword1" name="p_name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label id="auction_label">Minimum Price</label>
                <input type="number" class="form-control" id="exampleInputPassword1" name="price">
            </div>
        </div>
        
    </div>
    <div class="form-row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <textarea class="form-control" id="exampleInputPassword1" name="desc" placeholder="Write product description"></textarea>
            </div>
        </div>
    </div>

    <div align="center">
  <button type="submit" style="width:100%;margin-bottom:15%;" class="btn btn-primary">Submit</button>
    </div>
</form>
</div>
</div>

  <script>
    $("#programming").change(function () {
      var url = '/load-courses/';  // get the url of the `load_courses` view
      var programmingId = $(this).val();  // get the selected programming ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/load-courses/)
        data: {
          'programming': programmingId       // add the programming id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_courses` view function
          $("#courses").html(data);  // replace the contents of the course input with the data that came from the server
        }
      });

    });
  </script>
  <script>


        var alldata = [0];

        var req=0;
        function deleterow(x, pid){
            alldata.splice(alldata.indexOf(pid*1), 1);
            x.parentElement.parentElement.remove(x);
        }
  
        function addrow(x){
            var numberofparts = document.getElementById('numberofparts').value;
            document.getElementById('parts').innerHTML = "";
            for(var i=0;i<numberofparts;i++){
                req = i;
                var reqhtml = `<div class="form-row" id="req-`+req+`">
                                    <div class="form-group col-md-6">
                                        <label for="exampleFormControlInput1">`+ ((i*1)+1) +` Parameter Name</label>
                                        <input type="text" class="form-control" name="parts_name-`+req+`" placeholder="Parts Name">
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="exampleFormControlInput1">`+ ((i*1)+1) +` Value </label>
                                        <input type="text" class="form-control" name="parts_image-`+req+`">
                                    </div>
                                    
                                </div>`;
                document.getElementById('parts').innerHTML += reqhtml;
            }
        }




        function changemxmin(){
            data = document.getElementById('auction_type').value;
            if(data == "Tendor"){
                document.getElementById('auction_label').innerHTML = "Maximum Price";
            }else{
                document.getElementById('auction_label').innerHTML = "Minimum Price";
            }
        }
  </script>



{% endblock %}